@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>
    A button: <a asp-action="NoParameters" asp-controller="Test">No parameters</a>
  </p>
  <p>
    A button: <a asp-action="WithParameters" asp-controller="Test" asp-route-first="@Guid.NewGuid()" asp-route-second="Test">With parameters</a>
  </p>
  <p>
    A button: <test-button asp-action="NoParameters" asp-controller="Test">No parameters</test-button>
  </p>
  <p>
    A button: <test-button asp-action="WithParameters" asp-controller="Test" asp-route-first="@Guid.NewGuid()" asp-route-second="Test">With parameters</test-button>
  </p>
  <p>
    A button: <test-button call="Test.NoParameters">With no parameters</test-button>
  </p>
  <p>
    A button: <test-button call="Test.WithParameters(@Guid.NewGuid(),Test)">With parameters</test-button>
  </p>
  <p>
    Input
    <test-input>This is a label</test-input>
  </p>
</div>