<h2>Sortable table</h2>
<test-table sorting>
  <test-table-header-row>
    <test-table-header-cell sort-type="Text">First</test-table-header-cell>
    <test-table-header-cell sort-type="Number">Second</test-table-header-cell>
    <test-table-header-cell sort-type="None">No sort</test-table-header-cell>
  </test-table-header-row>
  <test-table-data-row>
    <test-table-data-cell>Jan Smit</test-table-data-cell>
    <test-table-data-cell>32</test-table-data-cell>
    <test-table-data-cell>blabla</test-table-data-cell>
  </test-table-data-row>
  <test-table-data-row>
    <test-table-data-cell>Maria Janssen</test-table-data-cell>
    <test-table-data-cell>24</test-table-data-cell>
    <test-table-data-cell>adasd</test-table-data-cell>
  </test-table-data-row>
  <test-table-data-row>
    <test-table-data-cell>Aad Snoek</test-table-data-cell>
    <test-table-data-cell>64</test-table-data-cell>
    <test-table-data-cell>baasd</test-table-data-cell>
  </test-table-data-row>
</test-table>
